<div class=" ">
   <span class="text-lg ps-1 text-indigo-500"> Bookmarked Job Seekers</span>
    <div class="grid gap-4 lg:grid-cols-4 mt-4 pb-20 px-10">
        <div
          *ngFor="let jobSeeker of bookMarkedJobSeekers"
          class="mt-3 p-2 bg-primary-white w-full rounded-lg ring-4 ring-indigo-400"
        >
          <div>
            <div class="flex gap-4 justify-between ">
              <div class="flex gap-2">
                <img
                  src="../../../../../assets/image.png "
                  class="h-10 w-10 my-1 border-2 rounded-full"
                  alt="Job Seeker Image"
                  srcset=""
                />
                <div class="mt-2">
                  <h2 class="text-lg font-semibold">
                    {{ jobSeeker?.firstName + " " + jobSeeker?.lastName }}
                  </h2>
                </div>
              </div>
              <!-- <div
               
              >
                <svg
                  *ngIf="!jobSeeker?.isBookmarked"
                  xmlns="http://www.w3.org/2000/svg"
                  width="1.2em"
                  height="1.2em"
                  viewBox="0 0 24 24"
                  class="bookmark-icon"
                >
                  <path
                    fill="#4f7af0"
                    d="M5 2h14a1 1 0 0 1 1 1v19.143a.5.5 0 0 1-.766.424L12 18.03l-7.234 4.536A.5.5 0 0 1 4 22.143V3a1 1 0 0 1 1-1m13 2H6v15.432l6-3.761l6 3.761z"
                  />
                </svg>
                <svg  *ngIf="jobSeeker?.isBookmarked"
                  xmlns="http://www.w3.org/2000/svg"
                  width="1.2em"
                  height="1.2em"
                  viewBox="0 0 15 15"
                >
                  <path
                    fill="#1d4ed8"
                    d="M13 0H2v14.5a.5.5 0 0 0 .812.39L7.5 11.14l4.688 3.75A.5.5 0 0 0 13 14.5z"
                  />
                </svg>
              </div> -->
            </div>
  
            <div>
              <div class="flex justify-between sm:justify-normal gap-2">
                <div
                  class="p-2 w-full mt-4 text-center rounded-lg bg-primary ring-1 hover:bg-blue-300 text-white"
                >
                  <a [href]="'tel:' + jobSeeker?.mobileNumber">
                    <div>Call</div>
                  </a>
                </div>
  
                <div
                (click)="viewProfile(jobSeeker)"
                  class="p-2 mt-4 w-full text-center rounded-lg ring-1 bg-gray-50 text-black hover:bg-blue-300"
                >
                  View Profile
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



</div>

<p-dialog
header="View Profile"
[(visible)]="profileDialog"
[modal]="true"
[style]="{ width: '100%', height: '100%' }"
[maximizable]="true"
#dialog
(onShow)="dialog.maximize()"

>
<ng-template pTemplate="content">
  <personal-information
    [userProfileData]="jobSeekerProfile"
  ></personal-information>
</ng-template>
</p-dialog>


<owner-navbar></owner-navbar>