
<div class="max-w-screen-lg mx-auto">
    <div class="flex flex-col justify-center items-center mt-10">
      <h1 class="text-primary-black text-2xl">Enter Business Details</h1>
    </div>
    <div class="flex flex-col mt-6 p-3 gap-4 md:items-center">
      <div class="flex flex-col">
        <label class="text-primary-black ml-5">Business Name</label>
        <input [(ngModel)]="updatedBusinessInfo.businessName"
          type="text"
          class="mt-2 ml-3 p-3 w-11/12 border rounded-xl bg-primary-white outline-none"
        />
      </div>
  
      <div class="flex flex-col">
        <label class="text-primary-black ml-5">Businesss Adresss</label>
        <input [(ngModel)]="updatedBusinessInfo.businessAddress"
          type="text"
          class="mt-2 ml-3 h-20 p-3 w-11/12 border rounded-xl bg-primary-white outline-none"
        />
      </div>

      <div class="flex flex-col">
        <label class="text-primary-black ml-5">FSSAI License No</label>
        <input [(ngModel)]="updatedBusinessInfo.fssaiLicenseNo"
          type="text"
          class="mt-2 ml-3 p-3 w-11/12 border rounded-xl bg-primary-white outline-none"
        />
      </div>
  
      <div class="flex flex-col md:w-72">
        <label class="text-primary-black ml-5">FSSAI Expirty Datte </label>
        <div class=" mt-3 ms-3">
          <p-calendar [(ngModel)]="updatedBusinessInfo.fssaiExpiryDate" [style]="{ width: '95%',  backgroundcolor: '#f6f6f6', }"></p-calendar>
        </div>
       
      </div>
      
      
      
  
      <div class="flex flex-col">
        <label class="text-primary-black ml-5">Businesss Phone Number</label>
        <input [(ngModel)]="updatedBusinessInfo.businessPhone" 
          type="tel"
          class="mt-2 ml-3 p-3 w-11/12 border rounded-xl bg-primary-white outline-none"
        />
      </div>
      
      <div class="flex flex-col justify-center items-center">
        <button (click)="nextPage()"
          class="py-3 px-32 bg-blue-600 mt-5 border-none rounded-2xl text-primary-white"
        >
          Continue
        </button>
      </div>
    </div>
  </div>
  
  



<!-- <div class="w-full flex flex-col items-center justify-center mt-10">
    <p-card>
        <ng-template pTemplate="title"> Business Information </ng-template>
        <ng-template pTemplate="subtitle"> Enter your Business information </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid">
                <div class="field">
                    <label for="state" class="flex align items-center">Business Name</label>
                    <input #placeInput="ngModel" id="place" type="text" required pInputText [(ngModel)]="updatedBusinessInfo.businessName" [ngClass]="{ 'ng-dirty': (placeInput.invalid && submitted) || (placeInput.dirty && placeInput.invalid) }" />
                    <small class="p-error" *ngIf="(placeInput.invalid && submitted) || (placeInput.dirty &&placeInput.invalid)">Place is required.</small>
                </div>

                <div class="field">
                    <label for="state" class="flex align items-center">Business Address</label>
                    <input #address="ngModel" id="address" type="text" class="h-20 " required pInputText [(ngModel)]="updatedBusinessInfo.businessAddress" [ngClass]="{ 'ng-dirty': (address.invalid && submitted) || (address.dirty && address.invalid) }" />

                    <small class="p-error" *ngIf="(address.invalid && submitted) || (address.dirty &&address.invalid)"> Address is required.</small>
                </div>

                <div class="field">
                    <label for="fssaiLicense" class="flex align items-center">FSSAI License No</label>
                    <input #fssaiInput="ngModel" id="fssaiLicense" type="text" required pInputText [(ngModel)]="updatedBusinessInfo.fssaiLicenseNo" [ngClass]="{ 'ng-dirty': (fssaiInput.invalid && submitted) || (fssaiInput.dirty && fssaiInput.invalid) }" />
                    <small class="p-error" *ngIf="(fssaiInput.invalid && submitted) || (fssaiInput.dirty && fssaiInput.invalid)">FSSAI License No is required.</small>
                </div>

                <div class="field">
                    <label for="businessPhone" class="flex align items-center">Business Phone No</label>
                    <input #businessPhoneInput="ngModel" id="businessPhone" type="tel" required pInputText [(ngModel)]="updatedBusinessInfo.businessPhone" pattern="[0-9]{10}" [ngClass]="{ 'ng-dirty': (businessPhoneInput.invalid && submitted) || (businessPhoneInput.dirty && businessPhoneInput.invalid) }" />
                    <small class="p-error" *ngIf="(businessPhoneInput.invalid && submitted) || (businessPhoneInput.dirty && businessPhoneInput.invalid)">Please enter a valid 10-digit phone number.</small>
                </div>
                
                
                <div class="field ">
                 
                    <label for="age" class="flex align-items-center">FSSAI Expiry Date</label>
                    <p-calendar [(ngModel)]="updatedBusinessInfo.fssaiExpiryDate"></p-calendar>
               
                </div>
                
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-end">
                <p-button label="Next" (onClick)="nextPage()"  icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </ng-template>

        
    </p-card>
</div> -->
