<div class="max-w-screen-lg mx-auto">
    <div class="flex flex-col mt-10">
      <div>
        <h2 class="text-center font-semibold">
          Terms and Conditions for Bakejoli
        </h2>
        <h2 class="text-center font-semibold">Job-Seeking Web App</h2>
      </div>
  
      <div class="ml-4 p-3 mt-5">
        <div>
          <h3 class="text-blue-600 text-lg font-semibold">Introduction</h3>
          <p class="mt-2 text-sm italic">
            Welcome to Bakejoli, a job-seeking web application in India. By
            accessing or using Bakejoli, you agree to be bound by these Terms and
            Conditions. If you do not agree with these terms, please do not use
            our services.
          </p>
        </div>
      </div>
      <div class="ml-4 p-3 mt-1">
        <div>
          <h3 class="text-blue-600 text-lg font-semibold">Eligibility</h3>
          <p class="mt-2 text-sm italic">
            To use Bakejoli, you must be at least 18 years old or have reached the
            age of majority in your jurisdiction. By using our services, you
            represent and warrant that you meet this eligibility requirement.
          </p>
        </div>
      </div>
  
      <div class="ml-4 p-3 mt-1">
        <div>
          <h3 class="text-blue-600 text-lg font-semibold">
            Account Registration
          </h3>
          <p class="mt-2 text-sm italic">
            - To access certain features of Bakejoli, you must create an account
            by providing accurate and complete information.
          </p>
          <p class="mt-2 text-sm italic">
            - You agree to notify us immediately of any unauthorized use of your
            account.
          </p>
          <p class="mt-2 text-sm italic">
            - You are responsible for maintaining the confidentiality of your
            account credentials and for all activities that occur under your
            account.
          </p>
        </div>
      </div>
  
      <div class="ml-4 p-3 mt-1">
        <div>
          <h3 class="text-blue-600 text-lg font-semibold">
            User Responsibilities
          </h3>
          <p class="mt-2 text-sm italic">
            - You agree to use Bakejoli only for lawful purposes and in accordance
            with these Terms and Conditions.
          </p>
          <p class="mt-2 text-sm italic">- You agree not to:</p>
          <p class="mt-2 text-sm italic ml-4">
            - Post or transmit any false, misleading, or illegal content.
          </p>
          <p class="mt-2 text-sm italic ml-4">
            - Use the app to harass, abuse, or harm other individuals.
          </p>
          <p class="mt-2 text-sm italic ml-4">
            - Attempt to interfere with the operation of the app or access its
            systems without authorization.
          </p>
        </div>
      </div>
  
      <div class="ml-4 p-3 mt-1">
        <div>
          <h3 class="text-blue-600 text-lg font-semibold">
            Job Postings and Applications
          </h3>
          <p class="mt-2 text-sm italic">
            - Bakejoli allows employers to post job opportunities and job seekers
            to apply for these positions.
          </p>
          <p class="mt-2 text-sm italic">
            - Employers are responsible for the accuracy and legality of job
            postings.
          </p>
          <p class="mt-2 text-sm italic">
            - Job seekers are responsible for the content of their applications
            and ensuring their information is accurate and up-to-date.
          </p>
        </div>
      </div>
  
      <div class="ml-4 p-3 mt-1">
        <div>
          <h3 class="text-blue-600 text-lg font-semibold">Privacy Policy</h3>
          <p class="mt-2 text-sm italic">
            - Your use of Bakejoli is also governed by our Privacy Policy, which
            outlines how we collect, use, and protect your personal information.
          </p>
          <p class="mt-2 text-sm italic">
            - By using Bakejoli, you consent to the collection and use of your
            information as described in the Privacy Policy.
          </p>
        </div>
      </div>
  
      <div class="ml-4 p-3 mt-1">
        <div>
          <h3 class="text-blue-600 text-lg font-semibold">
            Intellectual Property
          </h3>
          <p class="mt-2 text-sm italic">
            - All content on Bakejoli, including text, graphics, logos, and
            software, is the property of Bakejoli or its licensors and is
            protected by intellectual property laws.
          </p>
          <p class="mt-2 text-sm italic">
            - By using Bakejoli, you consent to the collection and use of your
            information as described in the Privacy Policy.
          </p>
        </div>
      </div>
  
      <div class="ml-4 p-3 mt-1">
        <div>
          <h3 class="text-blue-600 text-lg font-semibold">
            Intellectual Property
          </h3>
          <p class="mt-2 text-sm italic">
            - All content on Bakejoli, including text, graphics, logos, and
            software, is the property of Bakejoli or its licensors and is
            protected by intellectual property laws.
          </p>
          <p class="mt-2 text-sm italic">
            - You may not use, reproduce, or distribute any content from Bakejoli
            without our express written permission.
          </p>
        </div>
      </div>
  
      <div class="ml-4 p-3 mt-1">
        <div>
          <h3 class="text-blue-600 text-lg font-semibold">Termination</h3>
          <p class="mt-2 text-sm italic">
            - We reserve the right to terminate or suspend your account and access
            to Bakejoli at our sole discretion, without notice, for conduct that
            we believe violates these Terms and Conditions or is harmful to other
            users of the app.
          </p>
        </div>
      </div>
  
      <div class="ml-4 p-3 mt-1">
        <div>
          <h3 class="text-blue-600 text-lg font-semibold">
            Limitation of Liability
          </h3>
          <p class="mt-2 text-sm italic">
            - To the fullest extent permitted by law, Bakejoli and its affiliates,
            officers, directors, employees, and agents shall not be liable for any
            direct, indirect, incidental, special, or consequential damages
            arising from your use of the app or inability to use the app.
          </p>
        </div>
      </div>
  
      <div class="ml-4 p-3 mt-1">
        <div>
          <h3 class="text-blue-600 text-lg font-semibold">Governing Law</h3>
          <p class="mt-2 text-sm italic">
            - These Terms and Conditions are governed by the laws of India,
            without regard to its conflict of law principles.
          </p>
          <p class="mt-2 text-sm italic">
            - Any disputes arising from or related to your use of Bakejoli shall
            be resolved exclusively in the courts located in India.
          </p>
        </div>
      </div>
  
      <div class="ml-4 p-3 mt-1">
        <div>
          <h3 class="text-blue-600 text-lg font-semibold">
            Changes to Terms and Conditions
          </h3>
          <p class="mt-2 text-sm italic">
            - We reserve the right to modify these Terms and Conditions at any
            time. Any changes will be effective immediately upon posting on
            Bakejoli.
          </p>
          <p class="mt-2 text-sm italic">
            - Your continued use of Bakejoli after any such changes constitutes
            your acceptance of the new Terms and Conditions.
          </p>
        </div>
      </div>
  
      <div class="ml-4 p-3 mt-1">
        <div>
          <h3 class="text-blue-600 text-lg font-semibold">Contact Information</h3>
          <p class="mt-2 text-sm italic">
            - If you have any questions or concerns about these Terms and
            Conditions, please contact us at support&#64;bakejoli.com
          </p>
        </div>
      </div>
  
      <div>
        <p class="text-sm ml-4 p-3">
          By using Bakejoli, you acknowledge that you have read, understood, and
          agree to be bound by these Terms and Conditions.
        </p>
      </div>
    </div>
  </div>
  