<div class="max-w-screen-lg min-h-screen mx-auto mt-14">
  <div class="flex bg-blue-600 justify-between rounded-lg py-8 px-3 mx-1 mt-3">
    <div>
      <p class="text-white font-normal text-base">
        Hi,<span class="text-base"> {{ bakeMember.memberName }}</span>
      </p>
      <div class="mt-2 sm:flex sm:gap-4">
        <h2 class="text-white font-normal text-base">
          <span>BusinessName : </span>{{ bakeMember.businessName }}
        </h2>
        <h2 class="text-white">
          <span>Membership-Id : </span>{{ bakeMember.memberId }}
        </h2>
      </div>

      <h2 class="text-white font-normal text-base mt-1">Have a Great Day!</h2>
    </div>
    <div
      class="relative w-10 h-10 overflow-hidden rounded-full dark:bg-gray-600"
    >
      <!-- <img [src]="displayImage" alt="Job Post Image" /> -->

      <svg
        class="absolute w-12 h-12 text-gray-400 -left-1"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </div>
  </div>

  <div
    (click)="gotoProfilePage()"
    class="flex flex-col justify-center items-start rounded-lg w-11/12 ml-4 mt-5 border hover:border-blue-600"
  >
    <button
      class="flex gap-3 p-4 rounded-xl hover:border-1 hover:border-blue-600"
    >
      <span class="pi pi-user mt-1"></span>
      <h3 class="font-medium">Personal information</h3>
    </button>
  </div>

  <div *ngIf="visible">
    <personal-information [bakeMemberProfile]="bakeMember"></personal-information>
  </div>

  <!-- <div
      class="flex flex-col justify-center items-start rounded-lg w-11/12 ml-4 mt-5 border  hover:border-blue-600"
    >
      <button class="flex gap-3 p-4 rounded-xl">
        <span class="pi pi-cog mt-1"></span>
        <h3 class="font-medium">Settings</h3>
      </button>
    </div> -->

  <div (click)="showPrivacyPolicyDialog()"
    class="flex flex-col justify-center items-start rounded-lg w-11/12 ml-4 mt-5 border hover:border-blue-600"
  >
    <button  class="flex gap-3 p-4 rounded-xl">
      <span class="pi pi-lock mt-1"></span>
      <h3 class="font-medium">Privacy policy</h3>
    </button>
  </div>

  <div (click)="showHelpCenter()"
    class="flex flex-col justify-center items-start rounded-lg w-11/12 ml-4 mt-5 border hover:border-blue-600"
  >
    <button class="flex gap-3 p-4 rounded-xl">
      <span class="pi pi-info-circle mt-1"></span>
      <h3 class="font-medium">Help center</h3>
    </button>
  </div>

  <div
    (click)="share()"
    class="flex flex-col justify-center items-start rounded-lg w-11/12 ml-4 mt-5 border hover:border-blue-600"
  >
    <button class="flex gap-3 p-4 rounded-xl">
      <span class="pi pi-share-alt mt-1"></span>
      <h3 class="font-medium">Invite friends</h3>
    </button>
  </div>

  <div
    (click)="logoutPop()"
    class="flex flex-col justify-center items-start rounded-lg w-11/12 ml-4 mt-5 border hover:border-blue-600"
  >
    <button class="flex gap-3 p-4 rounded-xl">
      <span class="pi pi-eraser"></span>
      <h3 class="font-medium">Logout</h3>
    </button>
  </div>

  <div
    *ngIf="showLogout"
    id="logoutModal"
    class="fixed inset-0 px-10 bg-gray-900 bg-opacity-50 backdrop-blur-sm flex justify-center items-center"
  >
    <div class="bg-white p-8 rounded-lg">
      <h2 class="text-xl font-bold mb-4">Are you sure you want to log out?</h2>
      <div class="flex justify-center">
        <div
          (click)="logoutPop()"
          class="bg-blue-600 text-white font-medium mr-4 px-7 py-2 rounded-xl cursor-pointer"
        >
          <p>Cancel</p>
        </div>
        <div
          (click)="logout()"
          class="bg-red-600 text-white font-medium mr-4 px-7 py-2 rounded-xl cursor-pointer"
        >
          <p>Logout</p>
        </div>
      </div>
    </div>
  </div>
</div>

<owner-navbar></owner-navbar>

<p-dialog
  header="Privacy Policy"
  [(visible)]="displayPrivacyPolicyDialog"
  [modal]="true"
  [responsive]="true"
  [maximizable]="true"
  [style]="{  }"


>
  <!-- Include your Privacy Policy content here -->
  <div class="p-dialog-content">
    <!-- Replace with your actual Privacy Policy content -->
    <p>
      This Privacy Policy is an electronic record in the form of an electronic
      contract formed under the Information Technology Act, 2000 and the rules
      made thereunder and the amended provisions pertaining to electronic
      documents/records in various statutes as amended by the Information
      Technology Act,2000. This Privacy Policy does not require any physical,
      electronic or digital signature. This Privacy Policy is a legally binding
      document between you and bakekerala.com (both terms defined below). The
      terms of this Privacy Policy will be effective upon your acceptance of the
      same (directly or indirectly in electronic form, by clicking on the I
      accept tab or by use of the website or by other means) and will govern the
      relationship between you and bakekerala.com for your use of the website.
      This document is published and shall be construed in accordance with the
      provisions of the Information Technology (reasonable security practices
      and procedures and sensitive personal data or information) rules, 2011
      under Information Technology Act, 2000; that require publishing of the
      Privacy Policy for collection, use, storage and transfer of sensitive
      personal data or information. Please read this Privacy Policy carefully by
      using the Website, you indicate that you understand, agree and consent to
      this Privacy Policy. If you do not agree with the terms of this Privacy
      Policy, please do not use this Website. By providing us with your
      Information or by making use of the facilities provided by the Website,
      you hereby consent to the collection, storage, processing and transfer of
      any or all of Your Personal Information and Non-Personal Information by us
      as specified under this Privacy Policy. You further agree that such
      collection, use, storage and transfer of Your Information shall not cause
      any loss or wrongful gain to you or any other person.
    </p>
    <!-- You can style and format your Privacy Policy content as needed -->
  </div>
  <p-footer>
    <button
      pButton
      type="button"
      label="Close"
      (click)="hidePrivacyPolicyDialog()"
      class="p-button-secondary"
    ></button>
  </p-footer>
</p-dialog>


<p-dialog
  header="Help Center"
  [(visible)]="displayHelpCenter"
  [modal]="true"
  [responsive]="true"
  [style]="{ width:'100%' }"
>
  <!-- Include your Privacy Policy content here -->
  <div class="p-dialog-content">
    <!-- Replace with your actual Privacy Policy content -->
    <div class="flex flex-col items-center justify-center gap-5 mt-10">
      <div class="w-full h-20 bg-gray-100 rounded-lg flex space-x-4 items-center pl-1 shadow-xl">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24">
          <path fill="#306cfe" d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z" />
        </svg>
        <a href="mailto:joshwajoy11@kodefixlabs.com" class="font-poppins-semibold text-black">joshwajoy11&#64;kodefixlabs.com</a>
      </div>
  
      <div class="w-full h-20 bg-gray-100 rounded-lg flex items-center p-1 space-x-4 shadow-xl">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 50 50">
          <path fill="none" stroke="#306cfe" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M43.75 31.25v8.187a4.166 4.166 0 0 1-4.77 4.167A37.5 37.5 0 0 1 6.541 11.021a4.167 4.167 0 0 1 4.146-4.771h8.062a2.083 2.083 0 0 1 2.083 1.854c.207 2.73.913 5.4 2.084 7.875a2.083 2.083 0 0 1-.875 2.625l-1.792 1.02a2.085 2.085 0 0 0-.687 3.043a29.3 29.3 0 0 0 7.687 7.687a2.083 2.083 0 0 0 3.042-.687l1.02-1.792a2.083 2.083 0 0 1 2.709-.792a22.4 22.4 0 0 0 7.875 2.084a2.083 2.083 0 0 1 1.854 2.083" />
        </svg>
        <a href="tel:+917994545385" class="font-poppins-semibold text-black">+917994545385</a>
      </div>
    </div>
  
    <!-- You can style and format your Privacy Policy content as needed -->
  </div>
  <p-footer>
    <button
      pButton
      type="button"
      label="Close"
      (click)="hideHelpCenter()"
      class="p-button-secondary"
    ></button>
  </p-footer>
</p-dialog>