<div class="mx-auto bg-white sm:w-720 py-20 sm:h-[740px]">
  <div class="flex flex-col justify-center mt-10 ml-5">
    <div>
      <h1 class="text-xl font-medium">What is your Expertise?</h1>
      <p class="mt-2 text-xs text-primary-grey">
        Please select your field of experience!
      </p>
    </div>

    <div class="mt-5">
      <p-listbox
        [options]="expertise"
        [filter]="true"
        optionLabel="expertiseType"
        [style]="{ width: '25rem' }"
        [multiple]="true"
        [metaKeySelection]="false"
        [listStyle]="{ 'max-height': '300px' }"
        [focusOnHover]="true"
        [checkbox]="true"
        [selectAll]="false"
        [showToggleAll]="false"
        [style]="{ width: '95%', backgroundColor: '#f6f6f6', color: '#242424' }"
        [(ngModel)]="selectedExpertise"
        (onChange)="updateExpertise($event)"
      />
    </div>

    <!-- <div>
      <h1 class="text-xl mt-5 font-medium">What is your Education?</h1>
      <p class="mt-2 text-xs text-primary-grey">
        please select your Education!
      </p>
    </div>

    <div class="mt-5 mb-5">
      <p-listbox
        [options]="education"
        optionLabel="name"
        optionLabel="EducationLevel"
        [style]="{ width: '15rem' }"
        [listStyle]="{ 'max-height': '220px' }"
        [style]="{ width: '95%', backgroundColor: '#f6f6f6', color: '#242424' }"
        (onChange)=" updateEducation($event)"
        [(ngModel)]="selectedEducation"
      />
    </div> -->

    <div class="mt-1 mb-5 mr-5">
      <button
        pButton
        pRipple
        label="Continue"
        class="p-button"
        [style]="{ width: '100%' }"
        (click)="nextPage()" 
      ></button>
    </div>
  </div>
</div>

<!-- 




<div class="w-full flex flex-col items-center justify-center mt-3">
  <p-card>
  <p class="flex align-items-center justify-content-center -mt-3 font-bold">What is Your Expertise ?</p>
  <p class="flex align-items-center justify-content-center mt-2 font-extralight">Please Select Your Field of Experience ?</p>
  <hr class=" flex align-items-center justify-content-center h-px  bg-gray-200 border-0 dark:bg-gray-700">
  <div class="flex align-items-center justify-content-center mt-5">
      <p-listbox [options]="expertise" [filter]="true" [(ngModel)]="selectedExpertise" optionLabel="expertiseType" [style]="{'width':'20rem'}"
       (onChange)="updateExpertise($event)"
      [multiple]="true" [metaKeySelection]="false" [listStyle]="{'max-height': '300px'}" [focusOnHover]="true" [checkbox]="true" [selectAll]="false"  [showToggleAll]="false"></p-listbox>

  </div>
  
  <hr class=" flex align-items-center justify-content-center h-px  bg-blue-200 border-0 dark:bg-gray-700">
  <p class="flex align-items-center justify-content-center mt-1 me-10 font-bold">Select Your Education</p>
  <div class="flex align-items-center justify-content-center mt-3">
      <p-listbox [options]="education"   [(ngModel)]="selectedEducation" optionLabel="EducationLevel" [style]="{'width':'15rem'}"
       (onChange)=" updateEducation($event)"
      [multiple]="false" [metaKeySelection]="false" [listStyle]="{'max-height': '250px'}" [focusOnHover]="true" [checkbox]="true" [selectAll]="false"></p-listbox>

  </div>

  <ng-template pTemplate="footer">
      <div class="grid grid-nogutter justify-content-center">
          <p-button label="Continue" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
      </div>
  </ng-template>

</p-card>
</div> -->
