<div class="max-w-screen-lg mx-auto">
    <div class="mt-14 bg-blue-600 text-left rounded-xl py-5 mx-3 pl-5">
      <h1 class="text-primary-white">Hi,</h1>
      <h1 class="text-primary-white mt-1 font-medium">Profile Name</h1>
    </div>
  
    <div
      class="flex flex-col justify-center items-start bg-gray-100 rounded-lg w-11/12 ml-4 mt-5 border  hover:border-blue-600"
    >
      <button class="flex gap-3 p-4 rounded-xl hover:border-1  hover:border-blue-600">
        <span class="pi pi-user mt-1"></span>
        <h3 class="font-medium">Personal information</h3>
      </button>
    </div>
  
    <!-- <div
    class="flex flex-col justify-center items-start bg-gray-100 rounded-lg w-11/12 ml-4 mt-5 border  hover:border-blue-600"
  >
    <button class="flex gap-3 p-4 rounded-xl">
      <span class="pi pi-cog mt-1"></span>
      <h3 class="font-medium">Settings</h3>
    </button>
  </div> -->
  
  
  
  <div
  class="flex flex-col justify-center items-start bg-gray-100 rounded-lg w-11/12 ml-4 mt-5 border  hover:border-blue-600"
  >
  <button class="flex gap-3 p-4 rounded-xl">
    <span class="pi pi-lock mt-1"></span>
    <h3 class="font-medium">privacy policy</h3>
  </button>
  </div>
  
  
  
  
  <div
  class="flex flex-col justify-center items-start bg-gray-100 rounded-lg w-11/12 ml-4 mt-5 border  hover:border-blue-600"
  >
  <button class="flex gap-3 p-4 rounded-xl">
    <span class="pi pi-info-circle mt-1"></span>
    <h3 class="font-medium">Help center</h3>
  </button>
  </div>
  
  
  
  <div
  class="flex flex-col justify-center items-start bg-gray-100 rounded-lg w-11/12 ml-4 mt-5 border  hover:border-blue-600"
  >
  <button class="flex gap-3 p-4 rounded-xl">
    <span class="pi pi-share-alt mt-1"></span>
    <h3 class="font-medium">Invite friends</h3>
  </button>
  </div>
  

  <div (click)="logout()"
  class="flex flex-col justify-center items-start bg-gray-100 rounded-lg w-11/12 ml-4 mt-5 border  hover:border-blue-600"
  >
  <button  class="flex gap-3 p-4 rounded-xl">
    <span class="pi pi-eraser"></span>
    <h3 class="font-medium">LogOut</h3>
  </button>
  </div>

  

  </div>
  