<div class=" w-full flex flex-col justify-center -mt-1  bg-[#FDFCF8]  ">

    <div>
      <p-card  [style]="{ height: '150px','background-color': '#FDFCF8'}"  >
        <div class="custom-header"> <!-- Add a class to target the header -->
          <p class="mt-1 text-sm"> Welcome,<span class="text-sm"></span> </p> 
          <div class="flex justify-between">
          <p class="mt-1 font-semibold">Find your Perfect Job</p>
            <div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
              <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
                 
            </div>
          </div>
        
    
        </div>
        <p>
            
        </p>
       
    </p-card>
    
    
        
              
       
     </div>
    
    

    
 
    
    