<div class="flex bg-blue-600 justify-between rounded-lg py-8 px-3 mx-1 mt-3">
  <div>
    <p class="text-primary-white text-xs">
      Welcome,<span class="text-xs"> {{ bakeMember.memberName }}</span>
    </p>
    <h2 class="text-white font-normal text-base mt-1">
      Find your Right Employee
    </h2>
  </div>
  <div
    class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600"
  >
    <img [src]="displayImage" alt="Job Post Image" />

    <!-- <svg
      class="absolute w-12 h-12 text-gray-400 -left-1"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
        clip-rule="evenodd"
      ></path>
    </svg> -->
  </div>
</div>

<div
  class="border-red-500 bg-primary-white border rounded-lg py-16 px-3 mt-2 mx-1"
>
  <p class="text-center">You can place your sponsor ads here</p>
</div>

<div class="flex justify-between mt-3 mx-3">
  <p class="text-lg font-medium">My Jobs</p>
  <button (click)="goToAllJobs()" class="text-blue-600">See all</button>
</div>

<!-- job-posts.component.html -->

<!-- Use ng-container to wrap the ngFor loop -->

<div class="relative pb-20">
  <div class=" flex-initial snap-x snap-mandatory">
      <ng-container *ngFor="let jobposted of top3JobPosts">
        <div class="shrink-0 w-11/12 md:w-1/2 lg:w-1/3 px-1">
        <job-card
          [jobPost]="jobposted"
          [displayImage]="displayImage"
          [bakeMember]="bakeMember"
        >
        </job-card>
      </div>
      </ng-container>
    </div>
  </div>


<!-- <div class=" w-full flex flex-col justify-center -mt-1  bg-[#FDFCF8]  ">

    <div>
      <p-card  [style]="{ height: '150px','background-color': '#FDFCF8'}"  > -->
<!-- <div class="custom-header"> Add a class to target the header -->
<!-- <p class="mt-1 text-sm"> Welcome,<span class="text-sm">{{bakeMember.memberName}}</span> </p> 
          <div class="flex justify-between">
          <p class="mt-1 font-semibold">Find your Right Employee</p>
            <div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
              <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
                 
            </div>
          </div>
        
    
        </div>
        <p>
            
        </p>
       
    </p-card> -->

<!-- <div class="mx-auto max-w-screen-md px-4 w-full mt-6">
  <p class="font-bold">Sponsored Ad</p>

  <div id="carousel-example" class="relative w-full"> -->
<!-- Carousel wrapper -->
<!-- <div
        class="relative h-56 overflow-hidden rounded-lg sm:h-64 xl:h-80 2xl:h-96"
    > -->
<!-- Item 1 -->
<!-- <div id="carousel-item-1" class="hidden duration-700 ease-in-out">
            <img
                src="https://firebasestorage.googleapis.com/v0/b/flutter-web-a6380.appspot.com/o/ad2.jpg?alt=media&token=b9784229-a9be-46c6-8719-1c3dd44ead37"
                class="absolute left-1/2 top-1/2 block w-full -translate-x-1/2 -translate-y-1/2"
                alt="..."
            />
        </div> -->
<!-- Item 2 -->
<!-- <div id="carousel-item-2" class="hidden duration-700 ease-in-out">
            <img
                src="https://firebasestorage.googleapis.com/v0/b/flutter-web-a6380.appspot.com/o/ad2.jpg?alt=media&token=b9784229-a9be-46c6-8719-1c3dd44ead37"
                class="absolute left-1/2 top-1/2 block w-full -translate-x-1/2 -translate-y-1/2"
                alt="..."
            />
        </div> -->
<!-- Item 3 -->
<!-- <div id="carousel-item-3" class="hidden duration-700 ease-in-out">
            <img
                src="https://firebasestorage.googleapis.com/v0/b/flutter-web-a6380.appspot.com/o/ad2.jpg?alt=media&token=b9784229-a9be-46c6-8719-1c3dd44ead37"
                class="absolute left-1/2 top-1/2 block w-full -translate-x-1/2 -translate-y-1/2"
                alt="..."
            />
        </div> -->
<!-- Item 4 -->
<!-- </div> -->
<!-- Slider indicators -->
<!-- <div
        class="absolute bottom-5 left-1/2 z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse"
    >
        <button
            id="carousel-indicator-1"
            type="button"
            class="h-3 w-3 rounded-full"
            aria-current="true"
            aria-label="Slide 1"
        ></button>
        <button
            id="carousel-indicator-2"
            type="button"
            class="h-3 w-3 rounded-full"
            aria-current="false"
            aria-label="Slide 2"
        ></button>
        <button
            id="carousel-indicator-3"
            type="button"
            class="h-3 w-3 rounded-full"
            aria-current="false"
            aria-label="Slide 3"
        ></button>
        <button
            id="carousel-indicator-4"
            type="button"
            class="h-3 w-3 rounded-full"
            aria-current="false"
            aria-label="Slide 4"
        ></button>
    </div> -->
<!-- Slider controls -->
<!-- <button
        id="data-carousel-prev"
        type="button"
        class="group absolute left-0 top-0 z-30 flex h-full cursor-pointer items-center justify-center px-4 focus:outline-none"
    >
        <span
            class="inline-flex h-10 w-10 items-center justify-center rounded-full bg-white/30 group-hover:bg-white/50 group-focus:outline-none group-focus:ring-4 group-focus:ring-white dark:bg-gray-800/30 dark:group-hover:bg-gray-800/60 dark:group-focus:ring-gray-800/70"
        >
            <svg
                class="h-4 w-4 text-white dark:text-gray-800"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 1 1 5l4 4"
                />
            </svg>
            <span class="hidden">Previous</span>
        </span>
    </button>
    <button
        id="data-carousel-next"
        type="button"
        class="group absolute right-0 top-0 z-30 flex h-full cursor-pointer items-center justify-center px-4 focus:outline-none"
    >
        <span
            class="inline-flex h-10 w-10 items-center justify-center rounded-full bg-white/30 group-hover:bg-white/50 group-focus:outline-none group-focus:ring-4 group-focus:ring-white dark:bg-gray-800/30 dark:group-hover:bg-gray-800/60 dark:group-focus:ring-gray-800/70"
        >
            <svg
                class="h-4 w-4 text-white dark:text-gray-800"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 9 4-4-4-4"
                />
            </svg>
            <span class="hidden">Next</span>
        </span>
    </button>
</div>
  


  </div>
  
    
          
   
 </div> -->

<!--Job Pop Up Dialog-->
<p-dialog
  class="flex justify-center"
  header="Create new Job"
  [modal]="true"
  #dialog
  (onShow)="maximizeDialog()"
  (onHide)="closeDialog()"
  [(visible)]="visible"
  [style]="{ width: '90vw', 'max-width': '600px', height: '100%' }"
>
  <p-steps [model]="steps" [(activeIndex)]="activeIndex"></p-steps>
  <div class="p-4">
    <div *ngIf="activeIndex === 0">
      <div class="mb-2 flex flex-col">
        <label class="label-width mb-1" for="jobTitle">Job Title:</label>
        <input
          type="text"
          id="jobTitle"
          [(ngModel)]="jobPost.title"
          class="input-width"
        />
      </div>
      <div class="mb-2 flex flex-col">
        <label class="label-width mb-1" for="company">Company:</label>
        <input
          type="text"
          id="company"
          [(ngModel)]="bakeMember.businessName"
          readonly
          class="input-width"
        />
      </div>
      <div class="mb-2 flex flex-col">
        <label class="label-width mb-1" for="location">Location:</label>
        <p-dropdown
          [options]="district"
          [(ngModel)]="selectedDistrict"
          placeholder="Select a City"
          [editable]="true"
          [disabled]="true"
          optionLabel="name"
        ></p-dropdown>
      </div>
      <div class="mb-2 flex flex-col">
        <label class="label-width mb-1" for="jobType">Job Type:</label>
        <select id="jobType" [(ngModel)]="jobTypes" class="input-width">
          <option value="1">Full-time</option>
          <option value="2">Part-time</option>
          <option value="3">Contract</option>
          <option value="4">Temporary</option>
        </select>
      </div>
      <div class="mb-2 flex flex-col">
        <label class="label-width mb-1" for="salary">Salary:</label>
        <input
          type="text"
          id="salary"
          [(ngModel)]="jobPost.salary"
          class="input-width"
          
        />
      </div>
      <div class="mb-2 flex flex-col">
        <label class="label-width mb-1" for="jobDescription"
          >Job Description:</label
        >
        <textarea
          id="jobDescription"
          [(ngModel)]="jobPost.JobDescription"
          class="input-width"
        ></textarea>
      </div>
      <div class="flex flex-col justify-center"></div>
    </div>

    <div *ngIf="activeIndex === 1">
      <div class="">
        <div class="flex justify-between items-center mb-3">
          <div class="flex flex-row items-start">
            <p class="pi pi-angle-left" (click)="previousStep()">
              <b class="text-lg"> Back </b>
            </p>
          </div>
        </div>

        Select Atlease One Skill Required For this Job
        <div class="mt-5">
          <p-listbox
            [options]="expertise"
            [filter]="true"
            optionLabel="expertiseType"
            [style]="{ width: '25rem' }"
            [metaKeySelection]="false"
            [listStyle]="{ 'max-height': '300px' }"
            [focusOnHover]="true"
            [checkbox]="true"
            [selectAll]="false"
            [showToggleAll]="false"
            [style]="{
              width: '95%',
              backgroundColor: '#f6f6f6',
              color: '#242424'
            }"
            [(ngModel)]="selectedExpertise"
            (onChange)="updateExpertise($event)"
          />
        </div>
      </div>
    </div>

    <div *ngIf="activeIndex === 2">
      <div class="">
        <div class="flex justify-between items-center mb-2">
          <div class="flex flex-row items-start">
            <p class="pi pi-angle-left" (click)="previousStep()">
              <b class="text-lg"> Back </b>
            </p>
          </div>
        </div>

        <div class="mt-1">
          <label class="label-width mb-1 font-bold" for="Experience"
            >Select the Required Experience</label
          >
          <div class="my-5">
            <p-listbox
              [options]="experience"
              optionLabel="name"
              [style]="{ width: '15rem' }"
              [listStyle]="{ 'max-height': '220px' }"
              [style]="{
                width: '95%',
                backgroundColor: '#f6f6f6',
                color: '#242424'
              }"
              (onChange)="updateExperience($event)"
              [(ngModel)]="selectedExperience"
            />
          </div>
        </div>
      </div>
      
      </div>
   
      
<div *ngIf="displayImage==null">
  <div *ngIf="activeIndex===3">

    <div class="flex justify-between items-center mb-5" >
            
      <div class="flex flex-row items-start">
          <p class="pi pi-angle-left" (click)="previousStep()"  > <b class="text-lg"> Back </b></p>
          
      </div>
  </div>
  
    <div class="mb-2 flex flex-col items-center">
      <label class="label-width mb-1 " for="location"> Please Upload Company Logo:</label>
      <p-fileUpload name="myfile[]"  mode="basic"  [customUpload]="true" (uploadHandler)="myUploader($event)" accept="image/*" [maxFileSize]="1000000">
  
       
  <ng-template pTemplate="content">
      <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
      </ul>
  </ng-template>
  </p-fileUpload>
  </div>
  
      
  
  
       
  
  </div>  
</div>

<div class="flex justify-between items-center mb-5 ms-10" *ngIf="activeIndex===3">
  <div class="flex justify-between items-center mb-5" >
            
    <div class="flex flex-row items-start">
        <p class="pi pi-angle-left" (click)="previousStep()"  > <b class="text-lg"> Back </b></p>
        
    </div>
</div>

 
  <div class="mb-2 flex flex-col items-center" >
    Your Business Logo
 
  <img class="flex-inline  mb-5" [src]="displayImage" alt="">

  
  </div>

  <span (click)="editImage()" class="pi pi-file-edit" style="font-size: 1.5rem; color: #4f7af0"> </span> 

    
 

  
</div>

<div *ngIf="showImageUpload && activeIndex===3" class="mb-2 flex flex-col items-center ">
  <label class="label-width mb-1 " for="location"> Please Upload Company Logo:</label>
  <p-fileUpload name="myfile[]"  mode="basic"  [customUpload]="true" (uploadHandler)="myUploader($event)" accept="image/*" [maxFileSize]="1000000">

   
<ng-template pTemplate="content">
  <ul *ngIf="uploadedFiles.length">
      <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
  </ul>
</ng-template>
</p-fileUpload>
</div>

<div class="flex flex-col justify-center" >

       
  <button  class="mt-3 ml-3 p-3 rounded-3xl w-11/12 md:w-80 bg-primary-blue text-primary-white" type="button" (click)="submitJob()" *ngIf="activeIndex === steps.length - 1">Submit</button>
    <button type="button" class="mt-3 ml-3 p-3 rounded-2xl w-11/12 md:w-80 bg-primary-blue text-primary-white" type="button" (click)="nextStep()" *ngIf="activeIndex !== steps.length - 1">Next</button>

</div>

</div>
</p-dialog> 

<owner-navbar></owner-navbar>
