<div class="RegisterAs w-96 h-96 relative bg-white rounded-3xl">
  <img class="Iconblue2 w-24 h-24 left-[147px] top-[17px] absolute" src="/assets/bake.png" />
  <div class="Frame2 w-80 h-20 px-4 py-2 left-[43px] top-[249px] absolute bg-blue-500 rounded-2xl flex-col justify-start items-start inline-flex">
    <div class="Employee text-center text-white text-2xl font-medium font-['Poppins']">Employee</div>
    <div class="LookingForAFullTimePartTimeJob w-64 h-6 text-white text-base font-normal font-['Poppins']">Looking for a Full time /Part time job</div>
  </div>
  <div class="Frame5 w-80 h-20 px-4 py-2 left-[43px] top-[371px] absolute bg-blue-500 rounded-2xl flex-col justify-start items-start inline-flex">
    <div class="BakeryOwnerStaff text-center text-white text-2xl font-medium font-['Poppins']">Bakery Owner/Staff</div>
    <div class="LookingForEmployeesMarketplace w-72 h-6 text-white text-base font-normal font-['Poppins']">Looking for Employees / Marketplace</div>
  </div>
  <div class="Frame6 w-80 h-20 px-4 py-2 left-[43px] top-[493px] absolute bg-blue-500 rounded-2xl flex-col justify-start items-start inline-flex">
    <div class="ProductionHouse text-center text-white text-2xl font-medium font-['Poppins']">Production House</div>
    <div class="LookingForSales w-64 h-6 text-white text-base font-normal font-['Poppins']">Looking for sales</div>
  </div>
  <div class="SelectYourPreference w-72 h-9 left-[43px] top-[141px] absolute text-center text-stone-900 text-2xl font-medium font-['Poppins']">Select your preference</div>
  <div class="RegisterAs w-72 h-9 left-[-53px] top-[202px] absolute text-center text-blue-500 text-xl font-medium font-['Poppins']">Register as</div>
  <img class="Cake222 w-96 h-96 left-[-5px] top-[615px] absolute rounded-3xl shadow" src="https://via.placeholder.com/399x562" />
</div>