<div class="max-w-screen-lg mx-auto">
    <div class="flex flex-col justify-center mt-10 ml-5">
      <div>
        <h1 class="text-xl font-medium">What is your Experience ?</h1>
        <p class="mt-2 ml-2 text-xs text-primary-grey">
          Please select your field of experience!
        </p>
      </div>
  
      <div class="my-5">
        <p-listbox
          [options]="experience"
          optionLabel="name"
          [style]="{ width: '15rem' }"
          [listStyle]="{ 'max-height': '220px' }"
          [style]="{ width: '95%', backgroundColor: '#f6f6f6', color: '#242424' }"
        />
      </div>
  
      <div>
        <h1 class="text-xl font-medium">Preffered Employment Type ?</h1>
        <p class="mt-1 ml-2 text-xs text-primary-grey">
          Please select your field of experience!
        </p>
      </div>
  
      <div class="my-5">
        <p-listbox
          [options]="employment"
          optionLabel="expertiseType"
          optionLabel="jobType"
          [style]="{ width: '25rem' }"
          [multiple]="true"
          [metaKeySelection]="false"
          [listStyle]="{ 'max-height': '500px' }"
          [focusOnHover]="true"
          [checkbox]="true"
          [selectAll]="false"
          [showToggleAll]="false"
          [style]="{ width: '95%', backgroundColor: '#f6f6f6', color: '#242424' }"
        />
      </div>
  
      <div class="mt-1 mb-5 mr-5">
        <button
          pButton
          pRipple
          label="Submit"
          class="p-button"
          [style]="{ width: '100%' }"
        ></button>
      </div>
    </div>
  </div>
  




























<!-- 

<div class="w-full flex flex-col items-center justify-center mt-3">
    <p-card>
    <p class="flex align-items-center justify-content-center -mt-3 font-bold">What is Your Experince ?</p>
    <p class="flex align-items-center justify-content-center mt-2 font-extralight">Please Select Your Field of Experience ?</p>
    <hr class=" flex align-items-center justify-content-center h-px  bg-gray-200 border-0 dark:bg-gray-700">
    <div class="flex align-items-center justify-content-center mt-5">
        <p-listbox [options]="experience" [(ngModel)]="selectedExperience" optionLabel="name" [style]="{'width':'20rem'}"
         (onChange)="updateExperience($event)"
         [metaKeySelection]="false" [listStyle]="{'max-height': '300px'}" [focusOnHover]="true" ></p-listbox>

    </div>
    
    <hr class=" flex align-items-center justify-content-center h-px  bg-blue-200 border-0 dark:bg-gray-700">
    <p class="flex align-items-center justify-content-center mt-1 me-1 font-bold">Preffered Employment Type ?</p>
    <div class="flex align-items-center justify-content-center mt-3">
        <p-listbox [options]="employment" [(ngModel)]="selectedEmployment" optionLabel="jobType" [style]="{'width':'20rem'}"
         (onChange)=" updateEmployment($event)"
        [multiple]="true" [metaKeySelection]="false" [listStyle]="{'max-height': '300px'}"  [checkbox]="true" [selectAll]="false"  [showToggleAll]="false"></p-listbox>

    </div>

    <ng-template pTemplate="footer">
        <div class="grid grid-nogutter justify-content-center">
            <p-button label="Submit" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
    </ng-template>

</p-card>
</div>
 -->
