<div class="flex flex-col mt-3 bg-blue-600 mx-3 rounded-lg p-3">
  <h1 class="rounded-lg mx-2 pl-1 text-xl text-white font-semibold">Chips Maker</h1>

  <h2 class="mt-1 pl-3 text-primary-white text-sm font-normal ">Experience : 2 years</h2>
  <h2 class="mt-1 pl-3 text-primary-white text-sm font-normal">Job-Type : Full Time</h2>

</div>

<div class="mx-4 mt-3 p-2 bg-primary-white">
  <div class="flex gap-4">
    <div>
      <img
        src="https://pbs.twimg.com/media/F26EJS0bYAAH-5M.jpg"
        class="h-20 w-20 my-1 border-2 rounded-full"
        alt=""
        srcset=""
      />
    </div>
    <div class="flex flex-col ml-5">
      <h2 class="text-lg text-center">Jayakrishnan S</h2>
      <h2 class="text-sm font-poppins-regular mt-1 text-primary-grey">
        Chips Maker
      </h2>
      <h2 class="text-sm font-poppins-regular mt-1 text-primary-grey">
        1 year
      </h2>
      <h2 class="text-sm font-poppins-regular mt-1 text-primary-grey">
        Btech 
      </h2>
    </div>
    <div>
      <span
        class="pi pi-bookmark ml-10 mt-2"
        style="font-size: 1.5rem; color: #4f7af0"
      ></span>
    </div>
  </div>
  <button class="p-3 mt-4 w-full rounded-lg bg-blue-600 text-white">
    Call
  </button>
</div>

<div class="mx-4 mt-5 p-2 bg-primary-white">
  <div class="flex gap-4">
    <div>
      <img
        src="https://pbs.twimg.com/media/F26EJS0bYAAH-5M.jpg"
        class="h-20 w-20 my-1 border-2 rounded-full"
        alt=""
        srcset=""
      />
    </div>
    <div class="flex flex-col ml-5">
      <h2 class="text-lg text-center">Jayakrishnan S</h2>
      <h2 class="text-sm font-poppins-regular mt-1 text-primary-grey">
        Chips Maker
      </h2>
      <h2 class="text-sm font-poppins-regular mt-1 text-primary-grey">
        1 year
      </h2>
      <h2 class="text-sm font-poppins-regular mt-1 text-primary-grey">
        Btech
      </h2>
    </div>
    <div>
      <span
        class="pi pi-bookmark ml-10 mt-2"
        style="font-size: 1.5rem; color: #4f7af0"
      ></span>
    </div>
  </div>
  <button class="rounded-lg p-3 mt-4 w-full bg-blue-600 text-white">
    Call
  </button>
</div>
