<div class="max-w-screen-lg mx-auto">
    <div class="flex flex-col justify-center items-center mt-10">
      <h1 class="text-primary-black text-2xl">Location information</h1>
      <p class="text-primary-grey text-sm">Enter your location information</p>
    </div>
    <div class="flex flex-col mt-6 p-3 gap-4 md:items-center">
      <div class="">
        <label class="text-primary-black ml-5">State </label>
        <div class="mt-3 ml-3">
          <p-dropdown
            [options]="states"
            [(ngModel)]="selectedState"
            optionLabel="state"
            placeholder="Select a State"
            [style]="{ width: '95%', backgroundColor : '#f6f6f6'}"
            (onChange)="onStateChange()"
          />
        </div>
      </div>
  
      <div class="">
        <label class="text-primary-black ml-5">District</label>
        <div class="mt-3 ml-3">
          <p-dropdown
            [options]="districts"
            [(ngModel)]="selectedDistrict"
        
            placeholder="Select a District"
            [style]="{ width: '95%', backgroundColor : '#f6f6f6'}"
          />
        </div>
  
      </div>
  
      <div class="flex flex-col">
        <label class="text-primary-black ml-5">Place</label>
        <input  [(ngModel)]="userplace"
          type="text"
          class="mt-2 ml-3 p-3 w-11/12 border rounded-xl bg-primary-white outline-none"
        />
      </div>
  
      <div class="flex flex-col">
        <label class="text-primary-black ml-5">Pincode</label>
        <input [(ngModel)]="pincodes"
          type="tel"
          class="mt-2 ml-3 p-3 w-11/12 border rounded-xl bg-primary-white outline-none"
        />
      </div>
  
      <div class="flex flex-col justify-center items-center">
        <button (click)="nextPage()"
          class="py-3 px-32 bg-blue-600 mt-5 border-none rounded-2xl text-primary-white"
        >
        <span class="text-white"> Continue </span>
        </button>
      </div>
    </div>
  </div>





<!-- <div class="w-full flex flex-col items-center justify-center mt-10">
    <p-card>
        <ng-template pTemplate="title"> Location Information </ng-template>
        <ng-template pTemplate="subtitle"> Enter your Business location information </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid">
                <div class="field">
                    <label for="state" class="flex align items-center">Business State</label>
                    <p-dropdown inputId="state" [(ngModel)]="selectedState" [options]="states" (onChange)="onStateChange()"
                        optionLabel="state" placeholder="Select a State"></p-dropdown>
                </div>

                <div class="field" *ngIf="selectedState">
                    <label for="district" class="flex align items-center">Business District</label>
                    <p-dropdown inputId="district" [(ngModel)]="selectedDistrict" [options]="districts"
                        placeholder="Select a District"></p-dropdown>
                </div>
               
                <div class="field " *ngIf="selectedState">
                    <label for="places" class="flex align-items-center">Place</label>
                    <input #placeInput="ngModel" id="place" type="text" required pInputText [(ngModel)]="userplace" [ngClass]="{ 'ng-dirty': (placeInput.invalid && submitted) || (placeInput.dirty && placeInput.invalid) }" />

                    <small class="p-error" *ngIf="(placeInput.invalid && submitted) || (placeInput.dirty &&placeInput.invalid)">Place is required.</small>
                </div>

                <div class="field">
                    <label for="pincode" class="flex align-items-center">Pincode</label>
                    <input #pincode="ngModel" id="pincode" type="text" required pInputText [(ngModel)]="pincodes" [ngClass]="{ 'ng-dirty': (pincode.invalid && submitted) || (pincode.dirty && pincode.invalid) }" />
                    <small class="p-error" *ngIf="(pincode.invalid && submitted) || (pincode.dirty && pincode.invalid)">Pincode is required.</small>
                </div>
                
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-center">
                <p-button label="Finish" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </ng-template>

        
    </p-card>
</div> -->
