<div class="w-full flex flex-col items-center justify-center mt-10">
    <p-card>
        <ng-template pTemplate="title"> Location Information </ng-template>
        <ng-template pTemplate="subtitle"> Enter your location information </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid">
                <div class="field">
                    <label for="state" class="flex align items-center">State</label>
                    <p-dropdown inputId="state" [(ngModel)]="selectedState" [options]="states" (onChange)="onStateChange()"
                        optionLabel="state" placeholder="Select a State"></p-dropdown>
                </div>

                <div class="field" *ngIf="selectedState">
                    <label for="district" class="flex align items-center">District</label>
                    <p-dropdown inputId="district" [(ngModel)]="selectedDistrict" [options]="districts"
                        placeholder="Select a District"></p-dropdown>
                </div>
               
                <div class="field " *ngIf="selectedState">
                    <label for="places" class="flex align-items-center">Place</label>
                    <input #placeInput="ngModel" id="place" type="text" required pInputText [(ngModel)]="userplace" [ngClass]="{ 'ng-dirty': (placeInput.invalid && submitted) || (placeInput.dirty && placeInput.invalid) }" />

                    <small class="p-error" *ngIf="(placeInput.invalid && submitted) || (placeInput.dirty &&placeInput.invalid)">Place is required.</small>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-end">
                <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </ng-template>

        
    </p-card>
</div>
