<div class="container" class="w-full flex justify-center">
  <div id="holder">
    <div class="img-holder" class="w-5/6">
        <img src="../../../../../assets/previous.svg" alt="" srcset="" class="w-6" id="prev">
    </div>
    <header class="font-bold w-full text-center text-lg">CV/Resume</header>
    <div class="hd-label" class="w-full h-72 flex justify-center items-center">
        <label for="fileInput" class="flex justify-center flex-col rounded-lg items-center w-5/6 h-36">
            <input type="file" class="addFile" id="fileInput" hidden/>
            <img src="../../../../../assets/upload.svg" alt="" srcset="" class="w-14">
            <span>Browse File</span>
        </label>
    </div>
    <div class="btn-holder" class="flex flex-col justify-between w-5/6 h-20">
        <button id="skip" class="w-full h-8">Skip</button>
        <button id="continue" class="w-full h-8">Continue</button>
    </div>
  </div>
</div>
