<div class=" mt-3 mx-3 p-4 bg-primary-white rounded-xl flex flex-nowrap">
      <div >
        <div class="flex justify-between pt-1">
          <div class="flex pt-2">
            <div>
              <img [src]="displayImage" alt="" class="w-16 h-16 ml-2" />
            </div>
            <div class="ml-3 mt-1">
              <h3 class="text-lg font-medium text-primary-black">{{ jobPost?.title }}</h3>
              <p class="text-xs text-primary-grey">{{ bakeMember?.businessName }}</p>
            </div>
          </div>
          <div class="pr-4 pt-4">
            <span class="pi pi-bookmark" style="font-size: 1.5rem; color: #1d4ed8"></span>
          </div>
        </div>
        <div class="mt-3 mx-3 flex gap-1 pl-2 items-center">
          <span class="pi pi-map-marker" style="font-size: 1rem; color: #1d4ed8"></span>
          <p class="text-sm font-medium text-primary-black">{{ bakeMember?.district }}</p>
        </div>
        <div class="gap-3 items-center my-4 pb-4">
          <div class="p-2 rounded-md bg-gray-200 shadow-lg ml-4 w-20">
            <p class="text-xs font-medium">Full Time</p>
          </div>
          <!-- Add more job types here based on your data -->
        </div>
      </div>
    </div>